version: "3.9"

services:
  db-main:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: backend_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - db_main_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      retries: 5
    networks:
      - internal

  db-users:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: users_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - db_users_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      retries: 5
    networks:
      - internal

  backend:
    build: ./backend
    ports:
      - "8000:3000"
    environment:
      DATABASE_URL_LOCAL: postgresql+asyncpg://postgres:postgres@db-main:5432/backend_db
    depends_on:
      db-main:
        condition: service_healthy
    networks:
      - internal

  users-api:
    build: ./users-api
    ports:
      - "8001:3000"
    environment:
      DATABASE_URL_LOCAL: postgresql+asyncpg://postgres:postgres@db-users:5432/users_db
    depends_on:
      db-users:
        condition: service_healthy
    networks:
      - internal

  api-gateway:
    image: nginx:alpine
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - backend
      - users-api
    ports:
      - "80:80"
    networks:
      - internal

networks:
  internal:
    driver: bridge

volumes:
  db_main_data:
  db_users_data:

# http://localhost:8001/docs
# http://localhost:8000/docs

# version: "3.8"

# services:
#   postgres:
#     image: postgres:15-alpine
#     environment:
#       POSTGRES_DB: microservice_db
#       POSTGRES_USER: postgres
#       POSTGRES_PASSWORD: postgres
#     ports:
#       - "5432:5432"
#     volumes:
#       - pgdata:/var/lib/postgresql/data
#     healthcheck:
#       test: ["CMD-SHELL", "pg_isready -U postgres"]
#       interval: 10s
#       retries: 5

#   app:
#     build: .
#     environment:
#       DATABASE_URL: postgresql+asyncpg://postgres:postgres@postgres:5432/microservice_db
#     depends_on:
#       postgres:
#         condition: service_healthy
#     ports:
#       - "127.0.0.1:3000:3000"
#     volumes:
#       - ./src:/app/src
#       - ./alembic:/app/alembic
#       - ./alembic.ini:/app/alembic.ini
#     command: >
#       sh -c "pip install -q -r requirements.txt &&
#              alembic upgrade head &&
#              uvicorn src.main:app --host 0.0.0.0 --port 3000 --reload"
#     healthcheck:
#       test: ["CMD", "curl", "-f", "http://localhost:3000/docs"]
#       interval: 15s
#       timeout: 5s
#       retries: 5
#       start_period: 10s
#     networks:
#       - microservice_network
#     stdin_open: true
#     tty: true

# volumes:
#   pgdata:
